.header {
    grid-area: h;
    background-color:lightslategrey;
}
.header img {
    width: 40px;
    height: 40px;
}

.header .header_line {
    display: flex;
    flex-direction: row;
    
    justify-content:space-around;
    align-items: center;
    text-align: center;
}

.header .header_line ul {
    display:flex;
    flex-direction: row;
    column-gap: 25px;
    padding: 10px;
    list-style: none;
    
}

.header .header_line ul li a {
    padding: 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.header .header_line ul li a:hover {
background-color: blueviolet;
font-size: 22px;
}